<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<div>
  <strong>Content:</strong>
  <%= @post.content %>
</div>
<br>
<div>
<%= image_tag(@post.image.url) if @post.image? %>
</div>
<br>
<%= link_to '<button type="button" class="btn btn-primary">Edit</button>'.html_safe, edit_post_path(@post) %> 
<%= link_to '<button type="button" class="btn btn-primary">Back</button>'.html_safe, posts_path %>
